<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0845d17-8ced-4572-8565-6e07debe831f" Alias="Group - Weekday(s) - Checkbox List" Level="1">
  <Info>
    <Name>Group - Weekday(s) - Checkbox List</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
  ]
}]]></Config>
</DataType>