<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecc2d867-4157-4082-90f3-59fed9b16cc8" Alias="Support - Additional Service Information - Block List" Level="1">
  <Info>
    <Name>Support - Additional Service Information - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a04c870c-7abe-4b1b-ae7b-70d28328b0e8",
      "label": "Course"
    },
    {
      "contentElementTypeKey": "a7dd8cd0-e126-4dd3-89fa-a50fd8879f77",
      "label": "Group"
    },
    {
      "contentElementTypeKey": "d634f30c-3acc-4622-8e69-0313571b939a",
      "label": "Other"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true,
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>