<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a04c870c-7abe-4b1b-ae7b-70d28328b0e8" Alias="course" Level="3">
  <Info>
    <Name>Course</Name>
    <Icon>icon-graduate color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Additional Information needed for courses</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Support+Extentions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f5ccbd7d-7760-44f1-aad7-79ed905d0ba3</Key>
      <Name>Course Duration</Name>
      <Alias>courseDuration</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many weeks the course will be]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47782ba0-ef51-48e2-affa-50b8c7e2de95</Key>
      <Name>Donation</Name>
      <Alias>donation</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Cost of the course]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5bfa748-f33c-4034-9007-46cc257be01d</Key>
      <Name>Funded Places Available</Name>
      <Alias>fundedPlacesAvailable</Alias>
      <Definition>fccec1e1-0057-48ca-b9bf-184e00758a58</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0776773-5c1d-4dd4-b8c9-80f5e95d2032</Key>
      <Name>Next Course Start Date</Name>
      <Alias>nextCourseStartDate</Alias>
      <Definition>88e8a052-30ee-4d44-a507-59f2cdfc769c</Definition>
      <Type>Umbraco.DateTimeWithTimeZone</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ad28b75-ad1d-4adb-9a7d-a4f510eea37d</Key>
      <Name>Next Course Weekday</Name>
      <Alias>nextCourseWeekday</Alias>
      <Definition>f0845d17-8ced-4572-8565-6e07debe831f</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>13353f0a-7ab9-410d-a05c-cffb93408d36</Key>
      <Caption>Information</Caption>
      <Alias>information</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>