<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7dd8cd0-e126-4dd3-89fa-a50fd8879f77" Alias="group" Level="3">
  <Info>
    <Name>Group</Name>
    <Icon>icon-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Additional Information needed for groups</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Support+Extentions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5684dd51-a7b9-4a71-b551-629737515c46</Key>
      <Name>Event Frequency</Name>
      <Alias>eventFrequency</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How often this event occurs. Leave this field empty for a weekly event.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7eadda9-a6c0-4a90-924c-844f81b7edb9</Key>
      <Name>Weekday(s)</Name>
      <Alias>weekday</Alias>
      <Definition>f0845d17-8ced-4572-8565-6e07debe831f</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What day(s) is this group held]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="information">Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8fc52c96-6dea-4b6f-85a4-a72fe4417e1e</Key>
      <Caption>Information</Caption>
      <Alias>information</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>