<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="713a6a99-aba4-4656-ad4b-3ff4f41f884e" Alias="supportServices" Level="2">
  <Info>
    <Name>Support Services</Name>
    <Icon>icon-land-plot color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>SupportServices</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1b555a3f-f6cc-4b27-967e-99a124f5f024">SupportServices</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e608f4eb-ec6a-4996-bf6a-d7e9e5f33700" SortOrder="0">support</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>