<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e608f4eb-ec6a-4996-bf6a-d7e9e5f33700" Alias="support" Level="2">
  <Info>
    <Name>Support</Name>
    <Icon>icon-flag-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Courses and Programs available for families in need</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Support</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6155a8e9-81a8-4468-a397-93ce2869a19c">Support</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b970bc95-ff91-4320-a91f-1b03ae82390f</Key>
      <Name>Additional Service Information</Name>
      <Alias>additionalServiceInformation</Alias>
      <Definition>ecc2d867-4157-4082-90f3-59fed9b16cc8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please select the most appropriate service type to finalize the support information.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>930e7dce-0889-45e6-a0e4-4db21ce68465</Key>
      <Name>Invite Only</Name>
      <Alias>inviteOnly</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7c32c3f-e233-43d9-8e1d-23d795024208</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where does this group take place?]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6331e918-97cf-40d6-8cc1-36f9ee8f4af4</Key>
      <Name>Long Description</Name>
      <Alias>longerDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A full description that will appear on the website. You can include paragraphs, formatting, links, and any additional information]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d3d2af2-2f8a-4d85-b741-a8624c8854ee</Key>
      <Name>Minibus Available</Name>
      <Alias>minibusAvailable</Alias>
      <Definition>fccec1e1-0057-48ca-b9bf-184e00758a58</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb046b5c-6e41-4646-bf0e-053c7f079a4f</Key>
      <Name>Name</Name>
      <Alias>serviceName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c8b4788-eb58-4ce3-9390-51c0439e92c9</Key>
      <Name>Short Description</Name>
      <Alias>shorterDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief summary intended to be read aloud over the phone. Keep this to one or two sentences and avoid technical or overly detailed information]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a6e9643-704f-4554-a6f6-18b65f899bec</Key>
      <Name>Target</Name>
      <Alias>supportTarget</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Who is this for?]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0b5d78d9-ad71-4ff9-bcd9-a44dd9e513df</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>59d28e29-5aa1-49f2-b3e8-cb661ed8b75e</Key>
      <Caption>Details</Caption>
      <Alias>content/details</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>71d129c2-9f5e-412a-9cae-280c48e2961e</Key>
      <Caption>Basic Information</Caption>
      <Alias>content/basicInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>