<?xml version="1.0" encoding="utf-8"?>
<Content Key="7774412d-c940-4df6-96a6-b91e9078f9a8" Alias="FoodLife" Level="3">
  <Info>
    <Parent Key="1da733b8-15b9-4975-bb46-edf42bf24aad">Services</Parent>
    <Path>/Home/Services/FoodLife</Path>
    <Trashed>false</Trashed>
    <ContentType>support</ContentType>
    <CreateDate>2025-11-28T12:42:51</CreateDate>
    <NodeName Default="FoodLife" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6155a8e9-81a8-4468-a397-93ce2869a19c">Support</Template>
  </Info>
  <Properties>
    <additionalServiceInformation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d634f30c-3acc-4622-8e69-0313571b939a",
      "key": "26f1afe5-d2b6-4f00-9f37-e1e4c8825d72",
      "udi": null,
      "values": [
        {
          "alias": "conditions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You must have at least one child (under 18) permanently living in your household and live in one of the following post codes: HP5, HP6, HP7, HP8 and SL9. This service is for those facing financial difficulty."
        },
        {
          "alias": "contactResponsibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "highlightService",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "26f1afe5-d2b6-4f00-9f37-e1e4c8825d72",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "26f1afe5-d2b6-4f00-9f37-e1e4c8825d72",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </additionalServiceInformation>
    <inviteOnly>
      <Value><![CDATA[1]]></Value>
    </inviteOnly>
    <location>
      <Value><![CDATA[Restore Hope Latimer, Hope Church Cheshamor United or Reformed Church Chesham]]></Value>
    </location>
    <longerDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFoodLife is a food provision programme that provides a box of fresh fruit and veg on a fortnightly basis to families who are facing financial difficulty and are struggling to provide healthy food for their children.\u003C/p\u003E"
}]]></Value>
    </longerDescription>
    <minibusAvailable>
      <Value><![CDATA[0]]></Value>
    </minibusAvailable>
    <serviceName>
      <Value><![CDATA[FoodLife]]></Value>
    </serviceName>
    <shorterDescription>
      <Value><![CDATA[FoodLife is a food provision programme that provides a box of fresh fruit and veg on a fortnightly basis to families who are facing financial difficulty and are struggling to provide healthy food for their children.]]></Value>
    </shorterDescription>
    <supportTarget>
      <Value><![CDATA[You must have at least one child (under 18) permanently living in your household and live in one of the following post codes: HP5, HP6, HP7, HP8 and SL9. This service is for those facing financial difficulty.]]></Value>
    </supportTarget>
  </Properties>
</Content>