<?xml version="1.0" encoding="utf-8"?>
<Content Key="3787ea0a-2bfa-40bc-aa7b-2aace79b5866" Alias="Grow and Gather" Level="3">
  <Info>
    <Parent Key="1da733b8-15b9-4975-bb46-edf42bf24aad">Services</Parent>
    <Path>/Home/Services/GrowAndGather</Path>
    <Trashed>false</Trashed>
    <ContentType>support</ContentType>
    <CreateDate>2025-11-28T11:25:48</CreateDate>
    <NodeName Default="Grow and Gather" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6155a8e9-81a8-4468-a397-93ce2869a19c">Support</Template>
  </Info>
  <Properties>
    <additionalServiceInformation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a7dd8cd0-e126-4dd3-89fa-a50fd8879f77",
      "key": "4f39e246-86cd-4b07-9219-f4e50739e0d3",
      "udi": null,
      "values": [
        {
          "alias": "weekday",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Wednesday"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4f39e246-86cd-4b07-9219-f4e50739e0d3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4f39e246-86cd-4b07-9219-f4e50739e0d3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </additionalServiceInformation>
    <inviteOnly>
      <Value><![CDATA[0]]></Value>
    </inviteOnly>
    <location>
      <Value><![CDATA[Community Garden, Restore Hope Latimer]]></Value>
    </location>
    <longerDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWelcome to the Restore Hope Community Garden, a beautiful, calm, safe space in which we work, laugh and grow together.\u003C/p\u003E\u003Cp\u003EThe garden is the meeting place for the Grow and Gather Group. In our weekly sessions we grow fruit and vegetables which occasionally we even get to take home.\u003C/p\u003E\u003Cp\u003EThe gardening sessions are based on the principles of Social Therapeutic Horticulture which simply means using gardening to help people feel better.\u003C/p\u003E\u003Cp\u003EBeing outside helps us physically and emotionally. Grow \u0026amp; Gather is a great way to enjoy nature, feel better inside and out, and be part of a friendly group.\u003C/p\u003E\u003Cp\u003EThe group runs during term time only, and our minibus is available if you need help getting here. \u003C/p\u003E"
}]]></Value>
    </longerDescription>
    <minibusAvailable>
      <Value><![CDATA[1]]></Value>
    </minibusAvailable>
    <serviceName>
      <Value><![CDATA[Grow and Gather]]></Value>
    </serviceName>
    <shorterDescription>
      <Value><![CDATA[Grow and Gather is a group focused on gardening sessions are based on the principles of Social Therapeutic Horticulture which simply means using gardening to help people feel better.]]></Value>
    </shorterDescription>
    <supportTarget>
      <Value><![CDATA[]]></Value>
    </supportTarget>
  </Properties>
</Content>