<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f93693b-1602-4fff-9302-1e639ea7b6d3" Alias="Peaced Together" Level="3">
  <Info>
    <Parent Key="1da733b8-15b9-4975-bb46-edf42bf24aad">Services</Parent>
    <Path>/Home/Services/PeacedTogether</Path>
    <Trashed>false</Trashed>
    <ContentType>support</ContentType>
    <CreateDate>2025-11-28T12:40:08</CreateDate>
    <NodeName Default="Peaced Together" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6155a8e9-81a8-4468-a397-93ce2869a19c">Support</Template>
  </Info>
  <Properties>
    <additionalServiceInformation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a04c870c-7abe-4b1b-ae7b-70d28328b0e8",
      "key": "97d73db7-eb65-4533-a85c-6d6bed6b9912",
      "udi": null,
      "values": [
        {
          "alias": "nextCourseWeekday",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Thursday"
          ]
        },
        {
          "alias": "nextCourseStartDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "date": "2026-01-08T12:39:00\u002B00:00",
            "timeZone": "Europe/London"
          }
        },
        {
          "alias": "courseDuration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "donation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "fundedPlacesAvailable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "97d73db7-eb65-4533-a85c-6d6bed6b9912",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "97d73db7-eb65-4533-a85c-6d6bed6b9912",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </additionalServiceInformation>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <inviteOnly>
      <Value><![CDATA[0]]></Value>
    </inviteOnly>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <location>
      <Value><![CDATA[Hope Place, Restore Hope Latimer]]></Value>
    </location>
    <longerDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPeaced Together is a 10 week course that focuses on identity through craft activities.\u003C/p\u003E\u003Cp\u003EIn each session we focus on a specific theme, taking time to reflect, share our experiences and engage in a creative activity. Some of the themes discussed are thankfulness, courage, hope and more.\u003C/p\u003E\u003Cp\u003EThrough discussion and hands-on craft, you will be able to connect with others and express yourself in a non-judgmental and safe envirnonment.\u003C/p\u003E\u003Cp\u003EAnyone can attend this course - no crafting skills are needed!\u003C/p\u003E\u003Cp\u003EA minibus is available for anyone who needs it.\u003C/p\u003E\u003Cp\u003EThe course costs \u00A310 per person. However if this would be an issue for you please do get in touch.\u003C/p\u003E"
}]]></Value>
    </longerDescription>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <minibusAvailable>
      <Value><![CDATA[1]]></Value>
    </minibusAvailable>
    <serviceName>
      <Value><![CDATA[Peaced Together]]></Value>
    </serviceName>
    <shorterDescription>
      <Value><![CDATA[Peaced Together is a 10 week course that focuses on identity through craft activities.

Through discussion and hands-on craft, you will be able to connect with others and express yourself in a non-judgmental and safe envirnonment.]]></Value>
    </shorterDescription>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <supportTarget>
      <Value><![CDATA[Anyone can attend this course - no crafting skills are needed!]]></Value>
    </supportTarget>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>