<?xml version="1.0" encoding="utf-8"?>
<Content Key="1da733b8-15b9-4975-bb46-edf42bf24aad" Alias="Services" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>supportServices</ContentType>
    <CreateDate>2025-11-28T11:23:30</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b555a3f-f6cc-4b27-967e-99a124f5f024">SupportServices</Template>
  </Info>
  <Properties />
</Content>